services:

  pxe-dnsmasq:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pxe-dnsmasq
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - ./config/dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf:ro
      - ./config/dnsmasq/default/dnsmasq:/etc/default/dnsmasq:ro
      - ./tftp:/var/lib/tftpboot:ro
    command: --dhcp-range=192.168.56.10,192.168.56.100,255.255.255.0
    restart: unless-stopped

  http-server:
    image: nginx:alpine
    container_name: http-server
    volumes:
      - ./http:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    restart: unless-stopped