services:
  dhcp:
    build: ./dnsmasq
    container_name: dhcp-server
    networks:
      dhcp_net:
        ipv4_address: 192.168.50.2
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf
    restart: unless-stopped

networks:
  dhcp_net:
    driver: macvlan
    driver_opts:
      parent: vboxnet2
    ipam:
      config:
        - subnet: 192.168.50.0/24
          gateway: 192.168.50.1
